@charset "utf-8";
	.Title-Sub
{
	background-image : url(Title-Sub.png);
	background-repeat : no-repeat;
}
footer
{
	font-family : ATC Onyx;
	font-size : 9px;
	line-height : 19.37px;
	color : #C2C3C4;
	color : rgb(194, 195, 196);
}
.Shadow
{
	background-image : url(Shadow.png);
	background-repeat : no-repeat;
}
.Milky_Way
{
	background-image : url(Milky_Way.png);
	background-repeat : no-repeat;
}
.Title-Core
{
	background-image : url(Title-Core.png);
	background-repeat : no-repeat;
}
p
{
	font-family : ATC Onyx;
	font-size : 12px;
	line-height : 20px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.nav-bkg
{
	background-image : url(nav-bkg.png);
	background-repeat : no-repeat;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.main-text
{
	background : #FFFFFF;
	background : rgba(255, 255, 255, 1);
}
.face
{
	background-image : url(face.png);
	background-repeat : no-repeat;
}
body
{
	background : -moz-linear-gradient(50% 0% -90deg,rgba(0, 0, 0, 1) 0%,rgba(182, 80, 163, 1) 40%,rgba(255, 205, 255, 1) 50%,rgba(200, 95, 175, 1) 60%,rgba(85, 0, 100, 1) 85%,rgba(0, 0, 0, 1) 95%);
	background : -webkit-linear-gradient(-90deg, rgba(0, 0, 0, 1) 0%, rgba(182, 80, 163, 1) 40%, rgba(255, 205, 255, 1) 50%, rgba(200, 95, 175, 1) 60%, rgba(85, 0, 100, 1) 85%, rgba(0, 0, 0, 1) 95%);
	background : -webkit-gradient(linear,50% 0% ,50% 100% ,color-stop(0,rgba(0, 0, 0, 1) ),color-stop(0.4,rgba(182, 80, 163, 1) ),color-stop(0.5,rgba(255, 205, 255, 1) ),color-stop(0.6,rgba(200, 95, 175, 1) ),color-stop(0.85,rgba(85, 0, 100, 1) ),color-stop(0.95,rgba(0, 0, 0, 1) ));
	background : -o-linear-gradient(-90deg, rgba(0, 0, 0, 1) 0%, rgba(182, 80, 163, 1) 40%, rgba(255, 205, 255, 1) 50%, rgba(200, 95, 175, 1) 60%, rgba(85, 0, 100, 1) 85%, rgba(0, 0, 0, 1) 95%);
	background : -ms-linear-gradient(-90deg, rgba(0, 0, 0, 1) 0%, rgba(182, 80, 163, 1) 40%, rgba(255, 205, 255, 1) 50%, rgba(200, 95, 175, 1) 60%, rgba(85, 0, 100, 1) 85%, rgba(0, 0, 0, 1) 95%);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#000000' ,GradientType=0)";
	background : linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(182, 80, 163, 1) 40%, rgba(255, 205, 255, 1) 50%, rgba(200, 95, 175, 1) 60%, rgba(85, 0, 100, 1) 85%, rgba(0, 0, 0, 1) 95%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000',endColorstr='#000000' , GradientType=0);
}
.Smol_Stars
h1
{
	font-family : ATC Onyx;
	font-size : 30px;
	line-height : 22.05px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.footer-bkg
{
	background-image : url(footer-bkg.png);
	background-repeat : no-repeat;
}
